@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.anuj{
	background: #FF416C;
    width: 50%;
}
.anuj h1{
    margin-left: 50px;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
color: white;
}
.anuj p{
    color: white;
    margin-left: 50px;
    font-family: 'Montserrat', sans-serif;

}
